:root {
	--light: #ffffff;
	--dark: black;
	--orange: orange;
	--yellow: yellow;
	--teal: teal;
	--blue: blue;
	--darkCyan: darkcyan;
}

.theme-switches {
	display: flex;
	justify-content: center;
}

.switch {
	border: 2px solid var(--dark);
	border-radius: 50px;
	height: 30px;
	width: 30px;
	margin: 10px;
	cursor: pointer;
}

body {
	background-color: var(--light);
}

.box:hover {
	background-color: var(--orange);
}

.homepage-footer {
	background-color: var(--orange);
}

.footer-list a:hover {
	background-color: var(--orange);
	box-shadow: 2px 5px 10px 5px var(--yellow);
}

.footer-list a {
	color: var(--dark);
}

.dealsbox:hover {
	background-color: var(--orange);
}

.homepage-footer {
	border-radius: 20px 20px 0 0;
	background-color: #95a5a6;
	height: 400px;
	margin: 0;
	padding: 0;
	grid-area: ftp;
	height: 420px;
}

.navbar {
	background-color: var(--orange);
	box-shadow: 1px 5px var(--blue);
	border: 2px solid var(--darkCyan);
}

.nav-list li a {
	color: var(--black);
}

.nav-list li:hover {
	background-color: var(--yellow);
}

.subscribe-buttons {
	background-color: var(--teal);
}

.switch:hover {
	transform: scale(1.2);
	transition: 0.3s ease-in-out;
}

#switch-1 {
	background-color: var(--light);
}

#switch-4 {
	background-color: var(--dark);
}
