@import url("home-page-navbar.css");
@import url("home-page-footer.css");
@import url("themes.css");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.slogan {
	width: 20%;
	overflow: hidden;
}

.img {
	height: 70px;
}
.bar {
	width: 20%;
	padding: 20px 16px;
}
.search {
	padding-top: 8px;
}
.iconimg {
	height: 25px;
}

.row {
	display: flex;
	flex-direction: row;
}

.list {
	width: 200px;
	height: 200px;
	margin: 10px 50px 0 10px;
	border: black;
	border-style: solid;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.item:hover {
	cursor: pointer;
	color: rgb(198, 203, 56);
}

.index a {
	color: rgb(46, 109, 109);
	text-decoration: none;
}

.index a:hover {
	color: red;
	text-decoration: underline;
}
.privacy {
	margin-top: 10px;
	width: 640px;
	float: right;
	padding: 0 20px;
}

p {
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px;
}

.bold {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.title {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.terms {
	display: none;
	width: 640px;
	float: right;
	padding: 0 20px;
}

ul {
	margin-left: 50px;
}
