@import url(home-page-navbar.css);
@import url(home-page-footer.css);
@import url("themes.css");

* {
	font-family: "Roboto", sans-serif;
}

header {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 150px;
}

nav {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cart ion-icon {
	vertical-align: bottom;
	font-size: 20px;
	padding-right: 5px;
}

.cart a {
	color: aliceblue;
	cursor: pointer;
	text-decoration: none;
}

.container,
.products-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
	padding-bottom: 100px;
}

.image {
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
	overflow: hidden;
	height: 300px;
}

.add-cart {
	position: absolute;
	width: 100%;
	background-color: aquamarine;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5 {
	bottom: 50px;
	opacity: 1;
	padding: 10px;
	text-decoration: none;
}

/* cart */

.products-container {
	width: 650px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 50px;
}

.products-container ion-icon {
	font-size: 25px;
	color: blue;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.g {
	display: flex;
	flex-direction: row;
	padding-right: 20px;
	margin-left: 640px;
	width: 300px;
}

.g {
	display: flex;
	flex-direction: row;
	padding-right: 20px;
	margin-left: 640px;
	width: 300px;
}

.product_header {
	width: 650px;
	border-bottom: 4px solid lightgray;
	margin: 0 auto;
	font-weight: 900;
}

.product-title {
	width: 45%;
}

.price {
	width: 15%;
	border-bottom: 1px solid lightgray;
	display: flex;
	align-items: center;
}

.quantity {
	width: 30%;
	border-bottom: 1px solid lightgray;
	display: flex;
	align-items: center;
}

.total {
	width: 10%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.product {
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 0;
	border-bottom: 1px solid lightgray;
}

.product ion-icon {
	cursor: pointer;
}

.products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.products img {
	width: 75px;
}

.basketTotalContainer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 0;
}

.basketTotalTitle {
	width: 30%;
}

.basketTotal {
	width: 10%;
}
