@import url(home-page-navbar.css);
@import url(home-page-footer.css);
@import url("themes.css");

/* Basic Styling */
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

/* Details page */
#details-page {
	background: rgba(128, 128, 128, 0.356);
	width: 400px;
}

#carts {
	background: rgb(238, 166, 12);
	color: white;
}
#carts:active {
	background: white;
	color: rgb(238, 166, 12);
}
#buy {
	background: rgb(167, 179, 5);
	color: white;
}
#buy:active {
	background: white;
	color: rgb(167, 179, 5);
}

/* Columns */
.image {
	width: 65%;
	position: relative;
}

.right-column {
	width: 35%;
	margin-top: 60px;
}

/* Left Column */
.image img {
	width: 400px;
	height: 400px;
}

.image img.active {
	opacity: 1;
}

/* Right Column */

/* Product Description */
.product-description {
	border-bottom: 1px solid #e1e8ee;
	margin-bottom: 20px;
}
.product-description span {
	font-size: 12px;
	color: #358ed7;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}
.product-description h1 {
	font-weight: 300;
	font-size: 52px;
	color: #43484d;
	letter-spacing: -2px;
}
.product-description p {
	font-size: 16px;
	font-weight: 300;
	color: #86939e;
	line-height: 24px;
}

/* Product Price */
.product-price {
	display: flex;
	align-items: center;
}

.product-price span {
	font-size: 26px;
	font-weight: 300;
	color: #43474d;
	margin-right: 20px;
}

.cart-btn {
	display: inline-block;
	background-color: #7dc855;
	border-radius: 6px;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	padding: 12px 30px;
	transition: all 0.5s;
	margin-right: 20px;
}
.cart-btn:hover {
	background-color: #64af3d;
}
